SUPABASE_URL=https://gqinymrhijiardfjvkoh.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdxaW55bXJoaWppYXJkZmp2a29oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMTgwMzYsImV4cCI6MjEwNDc5NDAzNn0.TuM5bOIEg-ewNAD7fvxKkwWEh9z6IUXQ1qw33j-C-4U